.Comments-title {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.Comments-wrapper {
  padding: 0px 40px;
}
.Comments-wrapper a {
  color: #0087e9;
  text-decoration: none;
  font-size: 0.8em;
}
.Comments-title p {
  color: #666666;
  padding-left: 10px;
}
.Comments-text {
  margin: 0;
  padding-bottom: 10px;
  font-size: 0.8em;
}
